<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{pageProperties.title}} > {{sectionProperties.title}}</title>
    {{#if css}}
        {{#each css}}
            {{{this}}}
        {{/each}}
    {{/if}}
    {{#if js}}
        {{#each js}}
            {{{this}}}
        {{/each}}
    {{/if}}
</head>
<body>
<h1 style="text-align: center">You are viewing: {{sectionProperties.title}}</h1>
<hr />
<div style="float:left;margin-right:40px;padding-left:15px;width:250px;">
    <label for="selector" style="display:block;margin-bottom:5px;">{{sectionProperties.title}}'s models</label>
    <select name="selector" id="selector"
            style="border:1px solid #eee; display: block; padding: 5px; width: 200px"
            onchange="window.location='{{urlPfx}}&selector='+this.value">
        <option value="">Select one</option>
        {{#if sectionProperties.selectors}}
            {{#each sectionProperties.selectors}}
                {{#if this.selected}}
                    <option value="{{this.value}}" selected>{{this.text}}</option>
                {{else}}
                    <option value="{{this.value}}">{{this.text}}</option>
                {{/if}}
            {{/each}}
        {{/if}}
    </select>
</div>
<div style="margin-left: 316px" id="wcag-hcs-block">
    {{{sectionProperties.content}}}
</div>
</body>
</html>